{% for snippet in collections.snippets %}
<h2>{{ snippet.data.title }}</h2>
<p>{{ snippet.data.description }}</p>
{{ snippet.content }}
{% endfor %}

{% for post in collections.posts %}
<ul>
  <li><a href="{{post.url}}" class="left2right">{{post.data.title}}</a></li>
</ul>
{%- endfor %}

I like:
<ol>
  <li>Reading</li>
  <li>Language learning</li>
</ol>
