<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>àlex | {{ title }}</title>
  <link rel="icon" href="images/favicon.ico?v=1" type="image/x-icon" />
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/navbar.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/blog.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/responsive.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/icons.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/hero.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/experience.css' | url }}">
  <link rel="stylesheet" href="/css/{{ cssFile }}" />
</head>
<body>
  {{ content | safe}}
</body>
</html>