<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/navbar.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/project.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/contact.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/responsive.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/portfolio.css' | url }}">
  <link rel="stylesheet" href="/css/{{ cssFile }}" />
</head>
<body>
  <header>
    <nav>
      <a href="/home" class="alex">àlex</a>
      <ul>
        <li><a href="/about" class= "nav-a">BLOG</a></li>
        <li><a href="/projects" class= "nav-a">PROJECTS</a></li>
        <li><a href="/about" class= "nav-a">ABOUT</a></li>
        <li><a href="/contact" class= "nav-a">CONTACT</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="main">
      <h1>{{ title }}</h1>
      <article>
        {{ content | safe }}
      </article>
    </div>
  </main>
  <footer class="footer">
    <div>
      <p>&copy; 2023 Alex</p>
    </div>
  </footer>
</body>
</html>