<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/navbar.css' | url }}">
  <link rel="stylesheet" href="/css/{{ cssFile }}" />
</head>
<body>
  <header>
    <nav>
      <a href="/" class="alex">àlex</a>
      <ul>
        <li><a href="/about">BLOG</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/about">CONTACT</a></li>
        <li><button id="theme" onclick="changeTheme()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path id="svg-color" fill="#f8f9fa" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0 13V2a6 6 0 1 1 0 12z"/></svg></button></li>
      </ul>
    </nav>
    <h1>{{ title }}</h1>
  </header>
  <main>
    <div>
      <article>
        {{ content | safe }}
      </article>
    </div>
  </main>
  <footer class="footer">
    <div>
      <p>&copy; 2023 Alex</p>
    </div>
  </footer>
  <script src="theme.js"></script>
</body>
</html>