.contact {
  padding: 1rem;
  display: grid;
  align-items: start; /* pushes items to the top, so that sticky works! */
  gap: 2rem;
  grid-template-columns: 100px 1fr;
  width: 40%;
}

.contact-title {
  position: sticky;
  top: 1rem;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
}

.blog {
  display: flex;
  justify-content: space-between;
}

.themes {
  display: grid;
  align-items: start; /* pushes items to the top, so that sticky works! */
  margin-right: 80px;
}
.themes a {
  color: var(--black);
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 0;
  width: 96px;
  margin: auto 0;
}
.themes ul {
  position: sticky;
  top: 96px;
  margin-top: 0;

  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100px;
}
.themes li {
  text-decoration: none;
  display: inline-block;
  margin: 8px 0;
}
.selected {
  border: solid 2px var(--black);
}
.not-selected {
  border: solid 2px var(--black-50);
}


.post {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.post-text{
  /*width: 592px;*/
  flex: 1;
}

.post-img {
  display: flex;
  flex-direction: row;
}
.post-img img {
  width: 216px;
  margin-bottom: 32px;
  object-fit: cover;
}
.post-img div {
  margin-left: 32px;
}

.post-img-left {
  display: flex;
  flex-direction: column;
}
.post-img-left img {
  height: 270px;
}

.post-img-right {
  display: flex;
  flex-direction: column;
}
.post-img-right img {
  height: 421px;
}