hero {
  --transition: 0.4s;
  --pad-8: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  min-height: 100vh;
  padding-left: var(--sep-128);
}
hero>p {
  padding-top: 8px;
}
hero h3 {
  font-weight: 400;
}

.hero {
  max-width: 360px;
  margin: auto var(--sep-128) auto 0;
}
.hero>p{
  font-size: var(--ts4);
  line-height: normal;
}

.menu {
  margin-bottom: auto;
  margin-top: 0px;
}
.menu h3 {
  font-weight: bold;
  padding: var(--pad-8) 0;
  border-bottom: 1px solid var(--black);
}
.menu a {
  display: block;
  color: var(--black);
  text-decoration: none;
  width: 100%;
  padding: var(--pad-8) 0;
  transition: var(--transition);
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  text-decoration: none;
  border-bottom: 1px solid var(--black-25);
  transition: var(--transition);
}
.menu li:hover {
  border-bottom: 1px solid var(--black);
  transition: var(--transition);
}
.menu a:hover {
  width: calc(100% - var(--pad-8));
  padding-left: var(--pad-8);
  color: var(--primary);
  transition: var(--transition);
}

@media only screen and (min-width: 640px) { /* iPhone */
  .hero {
    max-width: 480px;
  }
  
  .menu{
  margin-bottom: 256px;
    min-width: 480px;
    width: 50vw;
    margin-right: 0;
    margin-left: auto;
  }
}