nav {
  display: flex;
  padding: 8px 0;
  margin: 0 var(--pad-w);
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black-25);
}

nav a {
  color: var(--text-black);
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: var(--ts);
}
nav a:not(.alex) {
  margin-left: 64px;
}
nav a.alex {
  margin-right: 64px;
}
nav a:not(.alex):hover {
  text-decoration: none;
  /*padding: 2px 9px;
  border: solid 1px var(--primary);
  border-radius: 4px;*/
  color: var(--primary);
  transition: color 0.4s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  text-decoration: none;
  display: inline-block;
  margin: 0;
}

.alex {
  font-weight: 700;
  font-size: var(--ts1);
  /*font-family: var(--alex-font);*/
  color: var(--text-black);
}