@media only screen and (max-width: 1280px) { /* iPad */
  :root {
    --sep-128: 64px;
  }
}

@media only screen and (max-width: 1024px) { /* posts */
  .post, .post-taiwan {
    flex-direction: column;
    padding-left: 32px;
  }

  .post-text {
    max-width: 720px;
    padding-left: calc(var(--sep-128)-32px)
  }

  .post-img {
    margin-top: 64px;
    margin-left: auto;
  }

  .post-img-left {
    margin-left: 0;
  }
}

@media only screen and (max-width: 640px) { /* iPhone */
  :root {
    /* type sclaing */
    --ts1: 1.2rem;
    --ts2: 1.44rem;
    --ts3: 1.728rem;
    --ts4: 2.074rem;
    
    --sep-128: 32px;
    --sep-256: 128px;
  }

  nav {
    display: inline-block;
    padding: 8px 0;
    width: 100%;
    margin: 0;
  }

  nav a:not(.alex) {
    margin: 0;
    width: 128px;
  }
  nav a.alex {
    margin: 0;
    margin-bottom: 8px;
  }

  .about {
    grid-template-columns: 1fr 10px;
    
  }

}

@media only screen and (max-width: 448px) { /* extra small */
  nav a:not(.alex) {
    width: 96px;
  }
}