.github { /* path width = 20 */
  margin-right: 11px; /* 16 - (24-20)/2 - (24-18)/2 = (20+18)/2 - 8 */
  width: 24px;
  height: 24px;
}

.linkedin { /* path width = 18 */
  margin-right: 7px; /* (18+12)/2 - 8 */
  width: 24px;
  height: 24px;
}

.goodreads { /* path width = 12.6 */
  margin-right: 0px; /* (12+?)/2 - 8 */
  width: 20px;
  height: 20px;
}

.icon-top {
  width: 24px;
  height: 24px;
}

.icon>path, .icon>circle {
  fill: var(--black-25);
}
.icon:hover>path, .icon:hover>circle {
  fill: #fff;
}