nav {
  display: flex;
  padding: 32px 120px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); /*not sure*/
}

nav a {
  color: var(--primary);
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 3px 10px;
  font-size: 1.2rem;
  margin: 0 5px;
}
nav a:not(.alex):hover {
  padding: 2px 9px;
  border: solid 1px var(--primary);
  border-radius: 4px;
  color: var(--accent);
  transition: color 0.4s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 5px;
}

nav li {
  text-decoration: none;
  display: inline-block;
  margin: 0;
}

.alex {
  font-weight: 700;
  font-size: 1.6em;
  font-family: var(--title);
  color: var(--text-black);
}