
.bg {
  background-color: var(--primary);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(14,minmax(0,1fr));
  column-gap: 0;
}

.portfolio-col {
  grid-column: 5 / span 6;
  color: var(--text-white);
  text-align-last: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8vh;
}

.portfolio-col h1 {
  color: var(--text-white);
  font-family: var(--text);
  font-size: 6vw;
  margin: 0;
  padding: 0;
}

.line-below {
  border-bottom: 0.3vw solid var(--text-white);
}

.alex-portfolio {
  font-weight: 700;
  font-size: 3vw;
  font-family: var(--title);
  color: var(--text-white);
}

.inner {
  font-size: 2vw;
  display: inline-block;
}

.line {
  display: inline-block;
  background-color: var(--text-white);
  height: 0.2vw;
  width: 23vw;
  margin-top: 1.1vw;
}

.portfolio-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 0.8vw;
}

.second {
  width: 100%;
  padding-bottom: 0.8vw;
}

@media only screen and (max-width: 1280px) { /* iPad */
  .portfolio-col {
    grid-column: 4 / span 8;
  }

  .portfolio-col h1 {
    font-size: 8vw;
  }

  .line {
    width: 33vw;
    margin-top: 1.4vw;
  }

  .alex-portfolio {
    font-size: 4vw;
  }

  .inner {
    font-size: 2.5vw;
  }
}
  

@media only screen and (max-width: 640px) { /* iPhone */
  .portfolio-col {
    grid-column: 3 / span 10;
  }

  .portfolio-col h1 {
    font-size: 10vw;
  }

  .line {
    width: 38vw;
    margin-top: 2.1vw;
  }

  .alex-portfolio {
    font-size: 5vw;
  }

  .inner {
    font-size: 3.5vw;
  }
}

@media only screen and (max-width: 448px) { /* extra small */
  .portfolio-col {
    grid-column: 2 / span 12;
  }

  .portfolio-col h1 {
    font-size: 12vw;
  }

  .line {
    width: 43vw;
    margin-top: 2.7vw;
  }

  .alex-portfolio {
    font-size: 7vw;
  }

  .inner {
    font-size: 4.5vw;
  }
}