.projects {
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  grid-gap: 40px;
  padding: 0 var(--sep-128);
}

.project { /* a */
  text-decoration: none;
  color: var(--black);
}

.project-header { 
  display: flex;
  flex-direction: column;
}

.project-image {
  margin: 0 0 10px 0;
  background: var(--text-gray);
  background-size: cover;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.project-tag {
  color: var(--text-gray);
  line-height: 1.15em;
  margin: 0 0 5px 0;
}

.project-title {
  line-height: 1.15em;
  margin: 0 0 10px 0;
  padding: 0;
}

.project-excerpt {
  line-height: 1.55em;
}