@media only screen and (max-width: 1280px) { /* iPad */
  .projects {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }

  :root {
    --pad-w: 50px;
  }
}

@media only screen and (max-width: 640px) { /* iPhone */
  nav {
    display: inline-block;
    padding: 8px 0;
    width: 100%;
    margin: 0;
  }

  nav a:not(.alex) {
    margin: 0;
    width: 128px;
  }
  nav a.alex {
    margin: 0;
    margin-bottom: 8px;
  }

  .projects {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }

  body {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 448px) { /* extra small */
  nav a:not(.alex) {
    width: 96px;
  }
  
  .projects {
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}