@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  /* fonts */
  --alex-font: 'Lato';
  --title: 'Lato';
  --text: 'Lato';

  /* colors */
  --primary: #668068;
  --secondary: #fff;
  --accent: #956B79;
  --gw: #CED9CF;

  --black: #212621;
  --black-75: #3b3f3b;
  --black-50: #9fa59f;
  --black-25: #c0c7c0;
  
  --text-white: var(--secondary);
  --text-gray: #6e746e;

  /* type sclaing */
  --ts0: 16px;
  --ts1: 1.333rem;
  --ts2: 1.777rem;
  --ts3: 2.369rem;

  --pad-w: 128px;
}

/* inclou tot: header, primary & footer */
body {
  font-family: var(--text), 'Roboto', sans-serif;
  font-size: var(--ts);
  line-height: 24px;
  letter-spacing: 0.01em;
  background-color: var(--secondary);
  margin: 0 auto;
  
  min-height: 101vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  z-index: 99;
}

main {
  width: 100%;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  margin-top: auto;
  color: var(--black-25);
  padding: 0 var(--pad-w);
}

.footer-div {
  margin: 20px 0;
}
.footer-div>a{
  color: var(--black-25);
}
.footer-div>svg {
  margin-left: 16px;
  width: 24px;
  height: 24px;
}
.footer-div>svg>path, .footer-div>svg>circle {
  fill: var(--black-25);
}
.footer-div>svg:hover>path, .footer-div:hover>svg:hover>circle {
  fill: #fff;
}


header button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

footer div {
  flex-direction: column;
  grid-column: span 4/span 4;
}

article {
  text-align: left;
  text-justify: inter-word;
  padding-bottom: 50px;
}

.main {
  padding: 0 var(--pad-w);
}

::selection {
  color: var(--secondary);
  background: var(--accent);
}

.hero {
  padding-top: 256px;
  padding-bottom: 256px;
}
.hero>p{
  font-size: 3.157rem;
}

p {
  margin: 0;
  margin-bottom: 8px;
  word-wrap: break-word;
}

h1, h2, h3 {
  font-family: var(--title);
}

h1 {
  font-size: var(--ts3);
  margin-top: 64px;
  margin-bottom: 32px;
}

h2 {
  font-size: var(--ts2);
}

h3 {
  font-size: var(--ts1);
  font-weight: 400;
}

h4 {
  font-size: var(--ts);
}

a {
  text-decoration: none;
  color: var(--primary);
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.left2right { 
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(var(--primary) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.left2right:hover { 
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

ol {
  list-style: none;
  counter-reset: item;
}

ol > li {
  counter-increment: item;
  margin-bottom: 5px;
}

ol > li:before {
  margin-right: 10px;
  content: counter(item);
  border: 2px solid var(--primary);
  border-radius: 100%;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}

.black-75 {
  color: var(--black-75)
}

.black-50 {
  color: var(--black-50)
}

.about {
  display: grid;
  grid-template-columns: 1fr 360px;
}