@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --title: 'Zilla Slab';
  --title: 'Lora';
  --text: 'Lato';

  --primary: #7aa155; /* aquest blau mola #7aa1ff */
  --secondary: #fff;
  --accent: #7d55a1;
  
  --text-white: var(--secondary);
  --text-black: #222222;
  --text-gray: #717171;

  --pad-w: 120px;
}

/* inclou tot: header, primary & footer */
body {
  font-family: var(--text), 'Roboto', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: var(--secondary);
  margin: 0 auto;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  z-index: 99;
}

main {
  width: 100%;
  margin: 0 auto;
}

footer {
  background-color: var(--primary);
  margin-top: auto;
  color: var(--text-white);
  height: 100px;
  display: grid;
  grid-template-columns: repeat(12,minmax(0,1fr));
  padding: 0 var(--pad-w);
  column-gap: 24px;
}


header button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

footer div {
  flex-direction: column;
  grid-column: span 4/span 4;
}

article {
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 50px;
  
}

.main {
  padding: 0 var(--pad-w);
  padding-top: 20px;
}

::selection {
  color: var(--secondary);
  background: var(--accent);
}

.subhead {
  font-size: 2.5em;
}

p {
  margin: 0;
  word-wrap: break-word;
}

h1, h2 {
  font-family: var(--title);
  color: var(--primary);
}

h3 {
  font-family: var(--title);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  text-decoration: none;
}

a:not(.alex):not(.project):not(.nav-a):visited {
  color: var(--primary);
}

.left2right { 
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(var(--primary) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.left2right:hover { 
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

ol {
  list-style: none;
  counter-reset: item;
}

ol > li {
  counter-increment: item;
  margin-bottom: 5px;
}

ol > li:before {
  margin-right: 10px;
  content: counter(item);
  border: 2px solid var(--primary);
  border-radius: 100%;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}