@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --title: 'Zilla Slab';
  --title: 'Lora';
  --text: 'Lato';

  --primary: #7aa155;
  --secondary: #fff;
  --accent: #7d55a1;
  
  --text-white: var(--secondary);
  --text-black: #222222;
  --text-gray: #717171;
}

/* inclou tot: header, primary & footer */
body {
  font-family: var(--text), 'Roboto', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: var(--secondary);
  margin: 0 auto;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  z-index: 99;
}

main {
  width: 100%;
  margin: 0 auto;
}

footer {
  background-color: var(--primary);
  margin-top: auto;
  color: var(--text-white);
  height: 100px;
  display: grid;
  grid-template-columns: repeat(12,minmax(0,1fr));
  padding: 0 120px;
  column-gap: 24px;
}


header button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

footer div {
flex-direction: column;
grid-column: span 4/span 4;
}

article {
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 50px;
  
}

.main {
  padding: 0 20%;
  padding-top: 20px;
}

::selection {
  color: var(--secondary);
  background: var(--accent);
}

.subhead {
  font-size: 1.5em;
}

h1, h2, h3 {
  font-family: var(--title);
  color: var(--primary);
}

