---
title: Home page
layout: "layouts/base.njk"
permalink: /
---

<div class="hero">
<p class="hero-text">Hi, my name is Àlex. <br>I am an aerospace engineer.</p>

<h3 class="black-75">I help solve problems related to airports.</h3>
</div>