---
title: Home page
layout: "layouts/base.njk"
permalink: /
---
<hero>
  <p class="alex">àlex</p>
  <div class="hero">
    <p>Bridging <span class="vibrant">engineering</span> competence and <span class="underline-3d">strategy</span>.</p>
    <h3 class="black-75">Aspiring Airport Management Specialist.</h3>
  </div>
  <div class="menu">
    <h3>Discover</h3>
    <ul>
      {#<li><a href="/projects">projects/portfolio</a></li>#}
      <li><a href="/about">about</a></li>
      <li><a href="/experience">experience</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </div>
</hero>